.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  min-height:10vh;
  background: rgb(44, 44, 77);
  color:white;
}

.nav-links{
  width:30%;
  display:flex;
  margin-left: 400px;
  justify-content:space-evenly;
  align-items:center;
  list-style: none;
  color:white;
}

.link-style{
  color:white;
  text-decoration: none;
}

aside {
	color: var(--bg-color);;
	float: left;
	/* padding-left: 15px; */
	width: 285px;
}

.fixed {
	position: fixed;

}

.content{
  margin-left: 285px;
}

.menu-box {
	padding: 20px;
	background: #34495e;
}

.menu-box ul {
	margin: 0;
	padding: 0;
}

.menu-box li {
	display: block;
}

.menu-box li a {
	display: block;
	padding: 15px 20px;
	margin-left: -20px;
	margin-right: -20px;
	color: #fff;
	border-bottom: 1px solid #314559;
}

